.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.dark-mode{
    background-color: black;
}
.dark-mode h1{
    color: white;
}
.toggle{
    background-color: gray;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    height: 30px;
}